include LICENSE Makefile Dockerfile LICENSE Makefile README.md requirements.txt
include index.ipynb
recursive-include sourmash_lib *
recursive-include rust
prune rust/target/debug
prune rust/target/release
prune rust/.git
prune rust/ci
exclude rust/.gitignore rust/Cargo.lock rust/.travis.yml rust/appveyor.yml
prune .eggs
global-exclude *.rlib
global-exclude *.orig
global-exclude *.pyc
global-exclude *.so
global-exclude *.git/
